@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

/* Basic */
body {
  min-width: 600px;
  min-height: 300px;
  height: 100vh;
  padding: 0;
  margin: 0;
}
.center {
  text-align: center;
}
.shadow {
  box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.4);
}

/* Google icon */
.material-icons {
  color: var(--material-icons-color);
}

/* Flexbox related */
.row,
.col {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px;
}
.col {
  flex-direction: column;
}
.spacer-0 {
  width: 0;
  height: 0;
}
.spacer-1 {
  width: 5px;
  height: 5px;
}
.spacer-2 {
  width: 10px;
  height: 10px;
}
.spacer-grow {
  flex-grow: 1;
}

/* Overlay */
.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--overlay-background);
}
.overlay .caption {
  font-size: 120%;
  color: var(--overlay-caption-color);
}
.overlay .content {
  background: var(--overlay-content-background);
}
.warning {
  font-weight: bold;
  color: var(--warning-color);
}

/* Waiting Room */
#instruction, #leaderboard {
  width: 800;
  display: flex; /* flex */
  background-color: #fbeec4; /* bg-yellow-100 */
  border-width: 10px; /* border-10 */
  border-color: #ca8a04; /* border-yellow-500 */
  padding: 1rem; /* p-4 */
  border-style: double; /* border-double */
  color: #684701;
}

/* Signin overlay */
#form-wrap {
  width: 800;
  display: flex; /* flex */
  background-color: #fbeec4; /* bg-yellow-100 */
  border-width: 10px; /* border-10 */
  border-color: #ca8a04; /* border-yellow-500 */
  padding: 1rem; /* p-4 */
  border-style: double; /* border-double */
}

#signin-form {
  align-self: stretch;
}
#register-form {
  background: var(--register-form-background);
  padding: 20px;
}

/* Form related */
form input,
form select {
  width: 100%;
}
input,
select {
  font-size: 1rem;
  background: var(--input-background);
  padding: 10px 15px;
}
input::placeholder,
select {
  color: gray;
}
button {
  font-weight: bold;
  height: 40px;
  border: 1px solid black;
  color: var(--button-color);
  background: var(--button-background);
  box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.4);
  padding: 0 20px;
  transition: 1s background;
  cursor: pointer;
}

.form-placeholder {
  border-width: 1px; /* border-10 */
  border-color: #ca8a04; /* border-yellow-500 */
  border-radius: 2px;
  padding: 0.5rem; /* p-4 */
  padding-left: 1rem;
}

.form-placeholder::placeholder {
  color: #997c3d; /* text-yellow-700 */
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.submit-button {
  font-size: 1.125rem; /* text-lg */
  display: flex; /* flex */
  justify-content: center; /* justify-center */
  align-items: center; /* items-center */
  width: 100%; /* w-full */
  border-width: 5px; /* border-10 */
  border-color: #ca8a04; /* border-yellow-500 */
  border-style: double; /* border-double */
  background-color: #ffc862;
  color: #684701; /* text-yellow-700 */
}

.submit-button:hover {
  background-color: #ffb224; /* hover:bg-yellow-300 */
}
button:hover {
  background: var(--button-background-hover);
}
button:active {
  margin: 2px -2px -2px 2px;
  box-shadow: 0px 0px;
}
button.icon {
  height: inherit;
  border: none;
  border-radius: 2px;
  background: none;
  box-shadow: none;
  padding: 3px 5px;
  padding-top: 5px;
}
button.icon * {
  color: white;
}
button.icon:hover {
  background: var(--button-background-hover);
}
button.icon:active {
  margin: 2px -2px -2px 2px;
}

/* Data field caption and content */
.field-content {
  border-radius: 50px;
  padding: 10px 15px;
  background: var(--field-background);
  transition: 1s background;
}
.field-content * {
  color: var(--field-color);
}
.field-content:hover {
  background: var(--field-background-hover);
}
.user-name {
  white-space: nowrap;
}

/* Top level container */
#container {
  align-items: stretch;
  gap: 0px;
  width: 100%;
  height: 100%;
  padding: 0;
}

/* Header */
#header {
  height: 80px;
  background: var(--header-background);
  padding: 0 20px;
}
#title {
  font-family: Abel, sans-serif;
  font-size: 300%;
  text-transform: uppercase;
  color: var(--title-color);
  user-select: none;
}
#title .material-icons {
  color: var(--title-color);
  font-size: 36px;
}
#signin-user {
  cursor: pointer;
}


.pixelify-sans-font {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

/* Logout button styling */
#logout-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #ffc862;
  color: #684701;
  border: 5px double #ca8a04;
  cursor: pointer;
  z-index: 100;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

#logout-button:hover {
  background-color: #ffb224;
}

/* Player Status */
#player-status {
  background-color: #fbeec4;
  color: #684701;
  border: 5px double #ca8a04;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}